
body{
  height: 100%;
  text-align: center;
  background-color: #b5b1b1;
}

img{
  border-radius: 100%;
}

form{
  margin: auto;
  width: 300px;
}

.form-control{
  padding: 10px 15px;
}

input{
  padding: ;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.fname{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.lname{
  border-radius: 0;
}

.email{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}